<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FuNewsManagement</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Net1728Group2MVC.styles.css" asp-append-version="true" />
</head>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
@{
    var user = Context.Items["User"] as AccountModel;
}

<body class="nav-fixed sidenav-toggled">
    <nav class="topnav navbar navbar-expand shadow  justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
        <div class="container-fluid d-flex justify-content-between align-items-center">

            <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="">FUNewsManagement</a>

            <div class="account-info d-flex align-items-center">
                <div class="text-end me-3">
                    <div class="fw-bold">@ViewBag.UserName</div>
                    <div class="fw-normal text-muted">@ViewBag.UserEmail</div>
                    <div class="fw-light f text-muted">
                        @if (ViewBag.Role == 1)
                        {
                            <i>Staff</i>
                        }
                        else if (ViewBag.Role == 2)
                        {
                            <i>Lecturer</i>
                        }
                        else if (ViewBag.Role == 0)
                        {
                            <i>Admin</i>
                        }
                    </div>
                </div>
                @if (ViewBag.UserName != null)
                {
                    <form asp-action="Logout" asp-controller="Auth" method="post">
                        <button class="btn btn-danger btn-sm" type="submit">Logout</button>
                    </form>
                }
            </div>
        </div>

    </nav>
    <div class=" bg-gradient-primary-to-secondary">
        <main role="main" class="pb-10 vh-100">
            <header class="page-header page-header-dark pb-10">
                @if (user == null)
                {
                    <div class="row justify-content-center pt-3">
                        <form asp-controller="Auth" asp-action="Login" method="get" class="col-3">
                            <button class="custom-btn w-100" type="submit">Login</button>
                        </form>
                    </div>
                }
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="mt-4">
                                <div class="d-flex justify-content-center">
                                    <form method="get">
                                        @if (ViewBag.Role == 1)
                                        {
                                            <button class="custom-btn mx-2" type="submit" asp-controller="staff" asp-action="category">Category Management</button>
                                            <button class="custom-btn mx-2" type="submit" asp-controller="staff" asp-action="news">News Management</button>
                                             <button asp-controller="Staff" asp-action="NewsTag"  class="custom-btn mx-2">
                                                 News Tag Management
                                             </button>
                                            <button class="custom-btn mx-2" type="submit" asp-action="Profile" asp-controller="Staff">Profile Management</button>
                                        }
                                        else if (ViewBag.Role == 2)
                                        {
                                            <h1 class="fw-bold text-white">News article</h1>
                                        }
                                        else if (ViewBag.Role == 0)
                                        {
                                            <button class="custom-btn mx-2" asp-controller="Admin" asp-action="Account" type="submit">System Account Management</button>
                                            <button class="custom-btn mx-2" asp-controller="Admin" asp-action="Report" type="submit">Report Management</button>
                                        }
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container-xl px-4 mt-n10">
                <div class="card">
                    @if (ViewBag.Header != null)
                    {
                        <h3 class="card-header"> @ViewBag.Header</h3>

                    }
                    else
                    {
                        <h3 class="card-header"> View News Article</h3>

                    }


                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
